body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("Images/Image.jpg");
  margin: 0;
}

form h3 {
  color: rgb(6, 6, 6);
  padding: 0 0 5px 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  border: none;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

form:hover {
  transition: 0.3s;
  box-shadow: 5px 5px 50px rgba(128, 128, 128, 0.9);
}

form label {
  color: rgb(62, 63, 64);
  display: block;
}

form input {
  width: 100%;
  display: block;
  margin: 12px 0;
  padding: 6px;
  outline: none;
  border: 1px solid black;
}

form input::placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
}

form button {
  width: 315px;
  padding: 8px 0;
  margin: 25px 0;
  background-color: rgb(17, 156, 243);
  color: rgb(249, 244, 244);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
