<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="/Nav.css">
</head>
<body>

    <nav>
        <div class="Navbar">
             <div class="Site-title">
                  <li>Pheixon</li>
             </div>

            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/teams">Teams</a></li>
              <li><a href="/blogs/create">Create New Blog</a></li>   
            </ul>

              <div class="Create-Account">
                  <button><a href="/login"> Login</a></button>
                  <button><a href="/signup"> Sign Up</a></button>
             </div>
        </div>
   
     </nav>
      
     <div class="title">
            <p>Esport's Gaming Blog</p> 
     </div>
       
 
</body>
</html> 
 
