 <nav>
        <div class="Site-title">
            <a href="#">Pheixon</a> <br><br>
            <span>This is Esport's Gaming Site</span>
        </div>
        <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/teams">Teams</a></li>
              <li><a href="/blogs/create">Create New Blog</a></li>
          
        </ul>

    </nav>