<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS</title>
</head>
<body>
    <h1>Express JS :   npm install express</h1>
    <ul>
        <li>Express JS is a Node.js framework designed to build API's web applications cross-platform mobile apps quickly and make node js easy.</li>
        <li>Express is a node js web application framework that provides broad features for building web and mobile applications.</li>
        <li>It is used to build a single page, multipage, and hybrid web application.</li>
        <li>It's a layer built on the top of the Node js that helps manage servers and routes.</li>
        <h2>Why do Use Express:</h2>
          <li>Develops Node.js web applications quickly and easily.</li>
          <li>Allows you to define application routes using HTTP methods and URLs.</li>
          <li>Allows you to specify a middleware for handling errors.</li>
          <li>It saves a lot of coding time and still makes web and mobile applications are efficient</li>
          <li>Express is fast to link it with databases like MySQL, MongoDB, etc.</li>
    </ul>

    <h2>Template engine:</h2>
    <ul>
        <li> Template engine is a part of Express that enables us to use static files in our applications.</li>
        <li> Template engine converts variables to values and changes the template to HTML files to send to the client.</li>

        <h3> EJS: Embedded Javascript</h3>
        <ul>
            <li>EJS or Embedded Javascript Templating is a templating engine used by Node.js. </li>
            <li> Template engine helps to create an HTML template with minimal code.</li>
            <li> Also, it can inject data into an HTML template on the client side and produce the final HTML.</li>
            <li> EJS is a simple templating language that is used to generate HTML markup with plain JavaScript.</li>
            <li> It also helps to embed JavaScript into HTML pages. </li>

            <h3>EJS Tags: </h3>
          <ul>
            <li><% 'Scriptlet' tag, for control-flow, no output</li>
            <li><%_ ‘Whitespace Slurping’ Scriptlet tag, strips all whitespace before it</li>
            <li><%= Outputs the value into the template (HTML escaped)</li>
            <li><%- Outputs the unescaped value into the template</li>
            <li><%# Comment tag, no execution, no output #%> </li>
            <li><%% Outputs a literal '<%' %%></li>
            <li>%> Plain ending tag</li>
            <li>-%> Trim-mode ('newline slurp') tag, trims following newline</li>
            <li>_%> ‘Whitespace Slurping’ ending tag, removes all whitespace after it</li>
          </ul>
        </ul>

        <h3>Partials:</h3>
    <ul>
        <li>Partials are code blocks that are reused many times in an application.</li>
        <li>Partials come in handy when you want to reuse the same HTML across multiple views.</li>
        <li>It is useful for avoiding code duplication and simplifying the organization of your views.</li>
        <li>Think of partials as functions, they make large websites easier to maintain as you don’t have to go and change a piece of text in every page it appears in. </li>
    </ul>
    </ul>

    
    
</body>
</html>