<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/SignUp.css">
</head>
<body>
    <h3>CREATE FREE ACCOUNT</h3>
      <form>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" required>
        <label for="confirm-password">Confirm Password:</label>
        <input type="text" name="confirm-password" id="confirm-password" required>
         <button>SIGN UP</button>
     </form>
</body>
</html>