<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pheixon | <%= title %></title>
    <style>
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>

      <!-- <nav>
        <div class="Site-title">
            <a href="#">Pheixon</a> <br><br>
            <span>This is Esport's Gaming Site</span>
        </div>
        <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav> -->

   

        <%- include ('./Partials/Nav.ejs') %>
           <h2>This is a Team Page</h2>
            <%- include ('./Partials/Footer.ejs') %>
    <!-- Includes are relative to the template with the include call.  -->

   

</body>
</html>